h1 {
    font-family: 'Righteous', cursive;
}

a, a:hover {
    text-decoration: none;
    color: #444444;
}

.cursor-disabled {
    cursor: no-drop !important;
}

.form-reset {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #ea5455;
    font-weight: 600;
    outline: none;
}

.input-none {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 20px;
    outline: none;
}

ul li {
    list-style-type: none;
    cursor: pointer;
}

.bill-buy-again {
    position: absolute;
    bottom: 0;
    right: 0;
}

label { cursor: pointer; }

.star-icon-color {
    color: #F7FD04;
}

/* Spinner */
.spin {
    display: inline-block;
    width: 58px;
    height: 58px;
    border: 4px solid #e2d5d5;
    border-radius: 50%;
    border-top-color: #6E7C7C;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

.zoom-modal-image { cursor: pointer; }
.d-grid { display: grid; }
.z-0 { z-index: 0 !important; }
.c-p { cursor: pointer; }
.mt-c, .kategori-pilihan { margin-top: 40px !important; }
.tred, .tred-bold { color: #ee6f57; }
.tred-bold { font-weight: 900; }
.tbold { font-weight: 900; }
.text-green { color: #81B214 !important; }
.text-grey { color: #6E7C7C !important; }
.synopsis { text-indent: 20px;}
.fa-long-arrow-alt-left { font-size: 19px; }
.abs-bottom-right-0 { position: absolute; bottom: 0%; right: 0%; }
.tbreak-all { word-break: break-all; }
.fa-times { cursor: pointer;}
.bg-cus-navbar { background-color: #fff600; }
.w-maxc { width: max-content; }
.h-maxc { height: max-content; }
.bg-grey { background-color: #FBF7F7; }
.bg-grey-2 { background-color: #E7E7DE; }
.shadow-custom { box-shadow: 0 0 0.7px #bbbbbb !important; }
.fa-comment-dots { color: #9fe6a0; font-size: 15px; }
.h-75vh { height: 75vh !important; }
.h-46vh { height: 46vh !important; }
.relative-none {
    bottom: 0;
    right: 0;
    top: 0;
    left: 0s;
}

/* dropdown */
.nav-dropdown {
    background-color: #fffdf6;
    box-shadow: 0 0 1px rgb(68, 68, 68, 0.8);
}

.nav-dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 100;
    color: #444444;
    text-align: inherit;
    white-space: nowrap;
    background-color: #fffdf6;
    border: 0;
}

.nav-dropdown-item:hover {
    background-color: #f6f5f5;
    color: #444444;
    text-decoration: none;
}

.nav-dropdown-status {
    position: relative;
    padding: 0.25rem 0.75rem;
    white-space: nowrap;
    text-decoration:none;
}

.nav-dropdown-status a {
    color: #444444;
}

.nav-dropdown-status:hover {
    background-color: rgb(226, 213, 213, 0.6);
}

.nav-dropdown-waiting {
    position: absolute;
    bottom: 14px;
    display: inline-block;
    background-color: #ee6f57;
    color: white;
    font-size: 9px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 100%;
    text-align: center;
}

/* Navbar */
.nav-cart {
    position: relative;
    display: inline-block;
}

.nav-cart-link:hover {
    background-color: #e2d5d5;
}

.nav-cart-content, .nav-categories-content {
    position: relative;
    z-index: 100;
    background-color: #fffdf6;
    box-shadow: 0 0 2px #e2d5d5;
    border: 1px solid #e2d5d5;
    width: 350px;
    border-radius: 4px;
    padding: 0.50rem;
}

.nav-categories-content {
    width: 250px;
}

.nav-cart-content-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.50rem ;
    border-bottom: 1px solid #e2d5d5;
}

.nav-cart-content-image {
    overflow: hidden;
    width: 75%;
    padding-bottom: 82%;
    height: 0;
    border: 1px solid #e2d5d5;
    box-shadow: 0 0 2px #e2d5d5;
}

.nav-cart-content-src {
    margin: 0 auto;
    max-width: 80%;
    padding: 4px;
}

.nav-cart-content-src img {
    width: 100%;
}

.nav-cart-content::before, .nav-categories-content::before {
    position: absolute;
    top: -10px;
    right: 5px;
    display: block;
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 12px solid #fffdf6;
}

.nav-book-search {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: #fffdf6 !important;
    width: 95%;
    box-shadow: 0 0 0.23rem #bbbbbb;
    padding: 0.65rem 0 0.65rem 0;
}

.nav-cart {
    color: #444444;
}

.nav-cart-count {
    position: absolute;
    bottom: 15px;
    left: 27px;
    font-size: 10px;
    background-color: #ea5455;
    color: #f6f6f6;
    width: 20px;
    border-radius: 8px;
    text-align: center;
}

.nav-book-search-link {
    text-decoration: none;
    color: #444444;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.nav-book-search-link:hover, .nav-categories-link:hover {
    background-color: rgb(226, 213, 213, 0.6);
    color: #444444;
    text-decoration: none;
}

.my-navbar {
    background-color: #fff600;
    font-family: 'Righteous', cursive;
    padding: 8px 0;
}

.nav-bell {
    font-size: 17px;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-filters-md, .search-books-md {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.search-icon,
.responsive-search-icon {
    position: absolute;
    background-color: #ea5455;
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    color: white;
    font-size: 18px;
}

.search-icon {
    left: -25px;
}

.responsive-search-icon {
    left: 0;
}

.responsive-search-text {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ea5455;
    height: 45px;
    text-indent: 53px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    outline: none;
}

.btn-grey, .btn-grey:hover {
    background-color: #E2D5D5 !important;
    color: white;
}

.text-righteous, li a, .book-deals > h2, h4, h5 , .btn-outline-yellow{
    font-family: 'Righteous', cursive;
}

.f-20 { font-size: 20px !important;  }
.f-28 { font-size: 28px; }
.w-12 { width: 12%; }
.mw-17 { max-width: 17%; }
.w-15 { width: 15%; }
.w-20 { width: 20%; }
.w-22 { width: 22%; }
.w-30 { width: 30%; }
.w-35 { width: 35%; }
.w-40 { width: 40%; }
.w-78 { width: 78%; }
.w-79 { width: 79%; }
.w-80 { width: 80%; }
.w-90 { width: 90% !important; }
.w-95 { width: 95% !important; }
.w-98 { width: 98%; }
.hd-12 { font-size: 12px; }
.hd-14 { font-size: 14px; }
.hd-16 { font-size: 16px; }
.hd-18 { font-size: 18px; }

.img-shcart {
    width: 90px;
    height: auto;
}

.img-monitor {
    width: 120px;
    height: auto;
}

.btn-none {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.btn-none:focus, .btn-none:active, .btn-none:hover{
    box-shadow: none!important;
}

.c-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.self-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-middle {
    vertical-align: bottom;
}

body {
    background-color: #f6f5f5;
    font-size: 13px;
}

/* Navbar */
.cus-navbar {
    position: relative;
    background-color: #fff600;
    font-family: 'Righteous';
}

.logo-text {
    font-size: 18px;
}

.logo-img {
    width: 160px;
}

.ul-nav li:not(.ul-nav li:last-child) {
    margin-right: 17px;
}

.search-text {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ea5455;
    height: 45px;
    text-indent: 30px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    outline: none;
}

#keywords:focus {  background-color: #fffdf6; }

.arrow-lihat-semua {
    position: absolute;
    right: -16px;
    top: 1.2px;
    background-color: #ea5455;
    padding: 4px;
    border-radius: 100%;
    font-size: 30px;
    color: #f8fafc;
}

#search-values {
    position: absolute;
    width: 150%;
    left: 8%;
    background-color: #fffdf6;
    box-shadow: 0 0 9px gray;
    display: none;
}

.nav-left li a {
    margin-top: 1px;
    font-size: 15px;
    color:#212529;
}

.fa-shopping-cart {
    font-size: 23px;
    margin-right: 10px;
    /* display: none; */
}

.dropdown-navbar {
    color: #212529;
    font-size: 20px;
}


.nav-left .nav-link:hover {
    border-bottom: 2px solid black;
}

.nav-left li a {
    color:#ece8d9;
}

/* Checkout */
.user-destination-input {
    background-color: rgb(226, 213, 213, 0.33)  !important;
}

.user-destination-close {
    position: absolute;
    right: 5px;
    top: 22px;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    margin-right: 0.50rem;
    display: inline-block;
    border: 1px solid #fff600;
    padding: 8px 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #e2d5d5;
}

/* Caraousel IMG */
.carousel-item img {
    height: 360px;
}

/* Footer */
footer {
    margin-top: 75px;
    background-color: #f6f5f5;
}

.footer-img {
    background-color: #f6f5f5;
}

.footer-content {
    width: 33.33%;
    padding-right: 30px;
    flex-grow: 1;
}

.footer-logo {
    overflow: hidden;
    text-align: center;
}

.footer-logo:before,
.footer-logo:after {
    background-color: #E2D5D5;
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.footer-logo:before {
    right: 9.80vw;
    margin-left: -50%;
}

.footer-logo:after {
    left: 9.80vw;
    margin-right: -50%;
}

.footer-year {
    margin-top: 60px;
    padding: 5px 0 1px 0;
    background-color: #fff600;
    text-align: center;
}

.wqdwqwdq {
    /* position: ; */
}

.book-deals > div:first-child, .kategori-pilihan > h3 {
    display: flex;
    padding: 5px 10px;
    border-bottom: 1px solid #dfddc7;
    justify-content: space-between;
    font-family: 'Righteous', cursive;
}

/* Book Buy */
.book-buy-input {
    border: none;
    border-bottom: 1px solid #d1d9d9;
    max-width: 38px;
    /* text-align: right; */
}

.book-stock {
    position: absolute !important;
    top: 1px;
    left: 12px;
}

/* Book Cards */
.books {
    padding: 0.75rem 0;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, 165px);
}

.book {
    margin-bottom: 25px;
    box-shadow: 0 0 1.5px #444444;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    transition: width 100ms;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 350px;
}


.book:hover {
    outline: 2px solid #ea5455;
}

.book-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-persentage-discount {
    background-color: #ea5455;
    position: absolute;
    width: 32%;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.discount-line-through {
    text-decoration: line-through;
}

.book-price {
    background-color: #ea5455;
    padding: 2px;
    text-align: center;
    color: #f8fafc;
}

.book-image {
    float: left;
    width:  100%;
    height: 200px;
    object-fit:contain;
}

.rating {
    background-color: transparent;
    width: 100%;
    text-align: center;
    display: flex;
}

.rating-star {
    color: gold;
    font-size: 12px;
    margin-right: 3px;
}

.rating-number {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.rating-and-author {
    /* padding: 0 10px; */
    /* margin: 5px 0; */
}

.author-review {
    overflow: hidden;
    width: auto;
    height: 220px;
}

.desk-book {
    background-color:transparent;
    padding: 12px 10px 0 10px;
    font-size: 13px;
    overflow :hidden;
}

/* Book Show */
.filter-review input[type="radio"] {
    display: none;
}

.filter-review label {
    border: 1px solid #e84545;
    border-radius: 4px;
    width: 90px;
    padding: 0.35rem 0;
    text-align: center;
    margin-right: 0.25rem;
}

.filter-review input[type="radio"]:checked+label {
    background-color: #e2d5d5;
}

.filter-link {
    flex: 1;
    background-color: red;
}

.book-show-rating-icon {
    font-size: 14px;
    margin-right: 0.15rem;
}

.book-show {
    margin-top: 21px;
}

.book-show > :nth-child(1) {
    width: 25%;
    flex-direction: column;
}

.book-show > :nth-child(2) {
    padding-left: 30px;
    width: 75%;
    flex-direction: column;
}


.book-show-link, .book-show-link:hover ,.desk-book a{
    text-decoration: none ;
    color: #212529;
}

.primary-book {
    text-align: center;
    margin-bottom: 1.5rem;
}

#primary-book-image {
    width: 70%;
}

.book-show-images {
    display: flex;
}

.book-show-images div {
    padding: 0 5px;
    width: 25%;
    transition: transform .2s;
    cursor: pointer;
    outline: 1px solid #6E7C7C;
}

.book-show-images div:not(:last-child) {
    margin-right: 0.70rem;
}

.book-show-image {
    width: 100% !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.book-show-image-active{
    transform: scale(1.1);
}

.book-show-buy {
    padding: 20px;
    width: 50%;
}

.white-content {
    padding: 0.75rem;
}

.book-show-click {
    position: relative;
}

.book-image-delete {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ee6f57;
    color: #444444;
    width: 18px;
    height: 18px;
    font-size: 9px;
    text-align: center;
    border-radius: 100%;
}

.white-content-0, .white-content {
    border-radius: 5px;
    background-color: #fffdf6;
    box-shadow: 0 0 1px #444444;
}

.title-border-red {
    border-bottom: 3px solid #cc435f;
    width: max-content;
}

.book-payment {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #f0a500;
    background-color: #fffdf6;
    padding: 0.75rem;
    height: 100%;
    border-radius: 6px;
}

.book-payment div:last-child {
    /* display: flex; */
    /* flex-direction: column; */
}

.fa-info-circle { color: #94fc13; }

.info-book-tooltips {
    cursor: pointer;
    color: #94fc13;
    position: absolute;
    right: 3px;
    top: 5px;
    font-size: 22px;
}


.info-book-text {
    display: none !important;
    color: #ee6f57;
    position: absolute;
    top: -36px;
    right: 0;
    background-color: #fffdf6;
    width: max-content;
    padding: 5px 8px;
    border-top: 1px solid #f0a500;
    border-left: 1px solid #f0a500;
    border-right: 1px solid #f0a500;
    border-bottom: 2px solid #686d76;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.info-book:hover, .info-book:hover > div:last-child{
    display: block !important;
}

.btn-red {
    background-color: #ea5455;
    color: white;
}

.btn-grey {
    background-color: #6E7C7C;
}

.btn-red:hover {
    background-color: #e84545;
    color: white;
}

.btn-yellow {
    background-color: #fff600;
    color: white;
}

.btn-yellow:hover {
    background-color: #cad315;
    color: white;
}

.tsmall { font-size: 11px; }

.home-and-anymore-show i {
    color: #1b262c;
    margin-left: 3px;
}

/* Halaman Home */

/* User */
.user {
    display: flex;
    position: relative;
    border-radius: 25px;
}

.user-circle {
    background-color: #e2d5d5;
    border: 2px solid #fffdf6;
    color: #fffdf6;
    overflow: hidden;
    border-radius: 50%;
    width: 46px;
    height: 46px;
}

.user-circle i { font-size: 24px; }

.dropdown-user {
    padding: 10px 5px;
}

.user-icon {
    color: #6E7C7C;
    font-size: 22px;
    margin-left: 2px;
    margin-right: 0.40rem;
}

.user-address {
    display: none;
    position: absolute;
    top: 100%;
    padding: 5px 0;
    width: 75%;
    max-height: 180px;
    overflow-y: auto;
    background-color: #f6f6f6;
    box-shadow: 0 0 0.4rem grey;
}

.user-address-data:not(:first-child) {
    margin-top: 0.60rem;
}

.user-address-data:hover {
    cursor: pointer;
    background-color: rgb(226, 213, 213, 0.55);
}

/* Wishlist */
.btn-wishlist {
    border: 0;
    background-color: transparent;
}

.add-shop {
    font-size: 15px;
    color: #8e7f7f;
}

.add-to-wishlist, #book-show-wishlist {
    font-size: 13px;
    color: #ee6f57;
    width: max-content;
    transition: transform 130ms;
    margin-left: auto;
}

.add-to-wishlist:hover {
    transform: scale(1.5);
}

.btn-wishlist i { color: #ea5455; }
.btn-wishlist .fa { display: none; }
.btn-wishlist:hover .fa { display: inline-block; }
.btn-wishlist:hover .far { display: none; }
.fa-share-alt { color: #e4d3cf; }

.wishlist-search-input {
    height: 34px;
    margin: 2px 0;
    border: 2px solid #E7E7DE;
    border-radius: 4px;
    background-color: #F6F5F5;
    text-indent: 34px;
    outline: none;
}

.wishlist-search-icon {
    position: absolute;
    top: 34%;
    margin-left: 10px;
    font-size: 15px;
    color: #fff600;
}

/* Ulasan Produk */
.review-image {
    border: 1px solid #e2d5d5;
    border-radius: 2px;
    padding: 0.25rem;
    height: fit-content;
}

.review-image img {
    width: 70px;
    height: 100px;
    object-fit: contain;
}

.review-star-icon {
    font-size: 20px;
}

.wb-word {
    word-wrap: break-word;
}

.rating-product-reviews {
    font-size: 16px;
}

/* Book Filters */
.rating-product-star h5 { font-size: 45px; }


.search-content-active {
    box-shadow: 0 5px 0 0 #6E7C7C;
    padding-bottom: 0.50rem;
}

.search-filter {
    background-color: #fffdf6;
    margin: 100px 10px 9px 0;
    border: 2px solid #686d76;
    padding: 5px 12px;
    border-radius: 4px;
    width: max-content;
}

.border-yellow {
    border: 1px solid #f9f871;
    border-radius: 6px;
}

.borbot-gray {
    border-bottom: 1px solid #e2d5d5;
    margin-bottom: 40px;
}

.borbot-gray-0 { border-bottom: 1px solid #e2d5d5; }
.borleft-gray-0 { border-left: 1px solid #e2d5d5; }
.borright-gray-0 { border-right: 1px solid #e2d5d5; }
.borbot-gray-bold { border-bottom: 5px solid #e2d5d5; }
.borbot-yellow-bold { border-bottom: 5px solid #fff600; }

/* Customer */
.user-customer-main, .user-customer-select-main {
    margin-bottom: 0.25rem;
    background-color: #6E7C7C;
    width: max-content;
    padding: 2px 8px;
    color: #fffdf6;
    border-radius: 4px;
}

.user-customer-select-main {
    background-color: #e2d5d5;
}

.customer-reviews {
    display: flex;
    margin-bottom: 40px;
    border-bottom: 1px solid #e2d5d5;
}

.customer-reviews-profile {
    border: 1px solid #e2d5d5;
    border-radius: 100%;
    width: auto;
    height: 100%;
}

.customer-reviews-profile img {
    border-radius: 100%;
    width: 52px;
    height: 52px;
    object-fit: contain;
}

/* Share Sosmed dan Login Sosmed*/
.share-sosmed span a i, .another-login span a i{
    padding: 3px 5px;
    color: white;
}

.another-login span a i {
    font-size: 20px;
    padding-top: 5px;
    width: 38px;
    height: 38px;
    border-radius: 100%;
}

.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-google  {
    text-align: center;
    padding-top: 9px;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 18px;
    border-radius: 100%;
}
.fa-facebook-f { background: #3B5998; }
.fa-twitter { background-color: #55ACEE; }
.fa-instagram { background-color: #125688; }
.fa-phone { color: #9FE6A0; }
.fa-google { background-color: #dd4b39; }

/* Rekomendasi Buku */
.book-recommendations {
    margin: 50px 0;
    /* height: 600px; */
}

/* Book Index Recomended */
.kategori-pilihan {
    position: relative;
    background-color: #fffdf6;
    padding: 1px 0;
    border-bottom: 3px solid #ea5455;
    box-shadow: 0 0 1.2px gray;
    border-radius: 7px;
}

.kategori-pilihan > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 27px 0;
    flex-direction: row;
}

.kp-2, .kp-1 {
    text-decoration: none;
    cursor: pointer;
    width: 250px;
    text-align: center;
    padding: 0 9px;
}

.kp-2:hover, .kp-1:hover {
    color: #444444;
    text-decoration: none;
}

.kp-1 {
    background-color: #f6f5f5;
    color: #444444;
}
.kp-2 {
    background-color: #ee6f57;
    color: white;
}

.kp-2 > img, .kp-1 > img {
    width: 100%;
    height: 145px;
}

.discount-time {
    display: flex;
    margin-right: auto !important;
}

.discount-time div {
    background-color: #ea5455;
    color:white;
    padding: 2px;
    margin: 2px;
    font-size: 21px;
}

.show-all {
    font-size: 14px;
    display: flex;
    align-items: center;
}

/* Gambar gambar diskon */
.discount-images {
    width: 100%;
    display: flex;
}
.discount-images div {
    width: 33.33%;
    padding: 0 5px;
}

.discount-images div img {
    width: 100%;
    height: 120px;
}

/* Book Search */
.book-sort {
    border: 2px solid #6E7C7C;
    border-radius: 4px;
    /* padding: 10px 10px; */
}

.right {
    width: max-content;
    margin: 0 0 20px auto;
}

.sort-books {
    cursor: pointer;
    outline: none;
    border: none;
    width: 190px;
    height: 100%;
    border-left: 4px solid #ee6f57;
}

.filter-search {
    height: max-content;
}

/* .active-authbook { box-shadow: 0 10px 0 0 #686d76; } */
.user-show-active {
    box-shadow: 0 10px 0 0 #686d76;
    z-index: 2;
}

.btn-to-the-top {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.click-in-buttom, .click-to-the-top {
    position: fixed;
    bottom: 10px;
    right: 25px;
    z-index: 100;
}

.click-to-the-top {
    display: none;
}

.chat {
    display: block;
    position: fixed;
    z-index: 100;
    bottom: 10px;
    right: 87px;
}

.user-chat {
    position: relative;
    border-bottom: 1px solid #dfddc7;
}

.user-chat-notifications {
    float: right;
    margin-right: 0.2rem;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-color: #ee6f57;
    color: white;
    border-radius: 100%;
    text-align: center;
}

#user-chat-send-img {
    display: flex;
    flex-direction: column;
    height: 72%;
    margin-top: 10px;
}


#user-chat-img {
    width: -webkit-fill-available;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    display: block
}

.user-chat-img-information {
    background-color: transparent;
    outline: none;
    width: 90%;
    border: none;
    border-bottom: 2px solid #625261;
    text-indent: 10px;
}

.user-chattings > div:first-child {
    border-top: 1px solid #dfddc7;
}

.user-chat:hover {
    cursor: pointer;
    background-color: #e2d5d5;
}

.user-chat-active {
    background-color: #ece8d9;
}

.chat-empty-img {
    max-width: 65%;
    position: absolute;
    left: 20%;
    bottom: 20%;
}

.testt {
    height: 420px;
    overflow: auto;
}

.chat-with-admin { display: none;}

#btn-chat {
    position: relative  ;
    background-color: #ea5455;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 100%;
    padding-top: 2px;
    color: white;
    border: 2px solid #f6f5f5;
    margin-right: 58px;
}

.btn-chat-unread {
    position: absolute;
    background-color: #fff600;
    color: #444444;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: -8px;
    right: -8px;
    border-radius: 100%;
    font-size: 12px;
}

#btn-chat i { font-size: 22px; }

.chat-delete {
    position: relative;
    float: right;
    margin-right: 15px;
}

.chat-delete-action {
    display: none;
    position: absolute;
    background-color: #fffdf6;
    border: 1px solid rgb(68, 68, 68, 0.2);
    color: rgb(68, 68, 68, 0.8);
    padding: 5px 10px;
    width: max-content;
    right: 100%;
    z-index: 1;
}

.chat-delete-action:hover {
    cursor: pointer;
    background-color: #ece8d9;
    z-index: 2;
}

.fa-caret-up {
    background-color: #ea5455;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 100%;
    padding-top: 6px;
    font-size: 30px;
    color: white;
    border: 2px solid #f6f5f5;
}

/* Chat dengan admin */
.chat-content {
    display: none;
    background-color: #FFFAFA;
    width: 46vw;
    box-shadow: 0 0 2px black;
}

.chat-info {
    background-color: #F8F1F1;
    text-align: center;
    box-shadow: 0 0 1px grey;
    padding: 2px 0;
}

.type-message {
    background-color: #E1F1DD;
    padding: 7px 12px 7px 12px;
}

.chattings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: 380px;
    margin-bottom: 15px;
    padding: 0 14px;
}

.chat-search-user-input {
    background-color: transparent;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    padding: 2px;
    width: 100%;
    font-size: 12px;
    outline: none;
    text-indent: 10px;
}

.user-chat-time {
    margin-right: 5px;
    width: max-content;
    margin-left: auto;
}

.chat-msg-user, .chat-msg-admin {
    width: max-content;
    border-radius: 5px;
    max-width: 85%;
    border: 1px solid rgb(68, 68, 68, 0.2);
}

.chat-msg-user {
    margin-left: auto;
    padding: 3px 20px 5px 12px;
    background: #F8F1F1;
    border-bottom-right-radius: 25px;
}

.chat-msg-admin {
    margin-right: auto;
    padding: 3px 12px 5px 20px;
    background: #d1d9d9;
    border-bottom-left-radius: 25px;
}

.chat-img-user, .chat-img-admin {
    width: 65%;
    height: 100%;
    background-color: #F8F1F1;
    padding: 5px 10px;
    border: 1px solid rgb(68, 68, 68, 0.2);
}

.chat-img-user { margin-left: auto; }
.chat-img-admin { margin-right: auto; }

.user-chats-bottom-scroll {
    position: absolute;
    left: 75%;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background-color: #e2d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-text-admin {
    word-break: break-all;
}

.chat-text-user {
    word-break: break-all;
}

.type-message-input {
    margin: 0 auto;
    border: none;
    background-color: #FFFAFA;
    border-radius: 8px;
    width: 96%;
    padding: 5.20px;
    text-indent: 10px;
    outline: none;
}

#user-chats-error-image {
    position: absolute;
    background-color: rgb(255, 246, 0, 0.8);
    border-radius: 4px;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: max-content;
    padding: 4px 10px;
    z-index: 2;
}

.type-message-plane, .type-message-camera {
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-message-plane {
    color: #E7A117;
    font-size: 18px;
    padding-left: 10px;
}

.type-message-camera {
    line-height: 20px;
    font-size: 20px;
    color: #434343;
    padding-right: 10px;
}

/* Pagination */
.pagination-custom {
    display: flex;
    width: max-content;
}

.pagination-custom div div, #pagination-next, #pagination-prev {
    text-align: center;
    padding-top: 8px;
    margin-right: 5px;
    border-radius: 100%;
    width: 38px;
    height: 38px;
}

.pagination-custom div div:hover, #pagination-next:hover, #pagination-prev:hover, .p-active {
    cursor: pointer;
    background-color: #ea5455;
    color: white;
}

/* Login */
.user-login {
    position: absolute;
    bottom: 0;
    right: 0;
}
#toggle-password { outline: none;}

.dot-login {
    background-color: #e2d5d5;
    padding: 3px;
    margin-bottom: 4px;
    display: inline-block;
    border-radius: 100%;
}

.login-atau {
  overflow: hidden;
  text-align: center;
}

.login-hover { border: 4px solid transparent;}

.login-hover:hover {
    border: 4px solid #e2d5d5;
    border-radius: 100%;
}

.login-atau:before,
.login-atau:after {
  background-color: #e2d5d5;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.login-atau:before {
  right: 0.5em;
  margin-left: -50%;
}

.login-atau:after {
  left: 0.5em;
  margin-right: -50%;
}

/* Modal */
#modal-exit-button {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
}

/* Modal Login */
.modal-content {
    border-radius: unset;
    border: none;
}

#modal-close {
    position: relative;
    left: 0 !important;
}

.modal-image {
    background-color: transparent;
}

.modal-close {
    position: absolute;
    right: 0;
    bottom: 100%;
    font-size: 35px;
    color: #444444;
}

.button-submit {
    cursor: pointer;
    background-color: #fff600;
    color: white;
    width: 100%;
    border: none;
    height: 45px;
    border-radius: 5px;
}

.active-login {
    cursor: pointer;
    background-color: #fff600;
}

.form-control-custom {
    background-color: transparent;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e2d5d5;
    outline: none;
}

.login-header, .login-header-active {
    cursor: pointer;
    width: max-content;
    border-bottom: 3px solid #e2d5d5;
}

.modal-content-login {
    background-color: #fffdf6;
    width: 100%;
    padding: 20px 0;
    border-radius: 4px;
}

.show-password {
    background-color: transparent;
    border: none;
    text-align: right;
    border-bottom: 1px solid #e2d5d5;
}

/* Modal Confirm */
.modal-confirm-buttons {
    display: flex;
}

.modal-confirm-body {
    position: relative;
    flex: 1 1 auto;
    padding: 20px;
    border-radius: 4px;
}

.modal-confirm-content {
    border-radius: 2px;
}

.modal-confirm-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 14px;
    color: #444444;
}

.modal-confirm-cancel, .modal-confirm-accept {
    width: 50%;
    height: 100%;
    padding: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background .2s ease-out;
    font-weight: 600;
}

.modal-confirm-cancel {
    background-color: transparent;
}

.modal-confirm-accept {
    background-color: rgb(238, 111, 87, 1);
    color: #fffdf6;
}

.modal-confirm-cancel:hover {
    background-color: rgb(110, 124, 124, 0.2);
}

.modal-confirm-accept:hover {
    background-color: rgb(238, 111, 87, 0.92);
}

/* Register User */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register-user {
    display: flex;
    box-shadow: 0 0 0.7px #bbbbbb;
}

.select-role {
    background-color: pink;
    border: none;
}

.form-register {
    background-color: #fffdf6;
    padding: 25px;
}

.register-user-pict {
    width: 60%;
    display: flex;
    align-items: center;
}

.register-user-pict img {
    width: 100%;
    height: auto;
}

/* Images */
.img-no-data { max-width: 250px; }
.data-not-found {
    background-color: #fffdf6;
    border: 1px solid #e2d5d5;
    border-radius: 3px;
    margin: 13px 0;
    padding: 15px;
    overflow: auto;
}

/* .error-login { display: flex; } */
.error-register {
    width: 100%;
    border: 1px solid #94fc13;
    margin: 20px 0;
    padding: 5px 0 5px 10px;
    color: #ee6f57;
    border-radius: 4px;
    font-size: 12.42px;
}
/* Purchase Records */
.purchase-records {
    width: 72%;
}

.pay-for-the-book {
    width: 28%;
}


.p-15 { padding: 15px; }
.px-15 { padding: 0 15px; }

.white-content-header h4 {
    background-color: #FBF7F7;
    font-family: 'Righteous', cursive;
    padding: 15px;
    border-bottom: 1px solid #E7E7DE;
}

.white-content-header-2 {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #E7E7DE;
    background-color: transparent;
}

.fa-plus-circle, .fa-minus-circle {
    font-size: 20px;
    color: #fff600;
    margin-left: 2px;
}

.courier-choise {
    border: 2px solid #FFFAA4;
    padding: 2px 12px;
    width: 120px;
    border-radius: 7px;
    margin-right: 7px;
    text-align: center;
    cursor: pointer;
}

.cc-active {
    border: 2px solid #e8f044;
}

.circle-checked {
    color: #FFF600;
    font-size: 18px;
}

.img-transfer {
    width: 40px;
}

.courier-choise-service {
    cursor: pointer;
    width: max-content;
}

.inp-courier-choise-service {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #fff600;
    outline: none;
    margin-right: 5px;
}

.inp-courier-choise-service:checked {
    background-color: #fff600;
    border: 5px solid #f0a500;
}

/* Book Payment */
.img-bri {
    /* width: 140px; */
    /* height: 140px; */
}

/* My Account */
.account-table {
    width: 100%;
}

.change-profile > div:first-child {
    width: 23%;
}

.change-profile > div:last-child {
    width: 77%;
}

.account-table tr td {
    padding-bottom: 10px;
    color: #6E7C7C;
}

.status-sidebar-actice {
    border-left: 3px solid #ea5455;
    background-color: #f8ede3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 0 4px #f8ede3;
}

.status-sidebar-actice a {
    position: relative;
    right: 3px;
    padding-right: 3px;
}

.account-table div div {
    padding: 20px;
    border: 1px solid black;
}

.account-table div div:last-child { margin-left: auto; }

.user-profile-image {
    margin: 0 auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    border: 2px solid #e2d5d5;
    box-shadow: 0 0 4px 1px #444444;
}

.user-modal {
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
    border: 2px solid #e2d5d5;
    box-shadow: 0 0 2px #444444;
    margin: 0 auto;
    border-radius: 50%;
}

.btn-sm-0 { padding: 2px 12px; }

.btn-outline-yellow, .btn-outline-red {
    padding: 5px 10px;
    color: #6E7C7C;
}
.btn-outline-yellow {
    border: 2px solid rgb(255, 246, 0, 0.4);
}

.btn-outline-red {
    border-color: #ea5455;
}

.change-password { margin-top: 22px; }
.change-password button { padding: 5px 37px; }
.waiting-for-payment {
    position: absolute;
    color: white;
    background-color: #ee6f57 ;
    font-size: 9px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    left: 88%;
    bottom: 50%;
    border-radius: 100%;
}

.alert-messages {
    border: 1px solid rgb(255, 246, 0, 0.3);
    border-radius: 4px;
    margin: 1.50rem 0;
    padding: 0.50rem 1rem;
    background-color: #F6F5F5;
}

.alert-message {
    display: flex;
    justify-content: space-between;
}

.alert-message:not(:last-child) {
    margin-bottom: 0.25rem;
}

.alert-message-text {
    font-size: 12px;
    color:#444444;
}

.alert-message-icon {
    font-size: 12px;
    color: rgb(255, 246, 0, 0.8);
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

#message {
    padding: 0.40rem 1rem;
    border: 2px solid rgb(202, 211, 21, 0.3);
    background-color: #F6F5F5;
    color: #444444;
    border-radius: 4px;
    box-shadow: 0 0 2px rgb(202, 211, 21, 0.6);
    width: 50%;
    text-align: center;
    padding: 0.7rem;
    position: fixed;
    top: 100px;
    left: 25%;
    right: 25%;
    z-index: 1;
}

.message-check {
    color: #444444;
    font-size: 17px;
    margin-right: 8px;
    position: relative;
}

/* Media Large */
@media screen and (max-width: 992px) {
    /* Halaman Home */
    .carousel-item img {
        height: 280px;
    }

    .kategori-pilihan > div {
        margin: 20px 0;
    }

    /* Navbar */
    /* .navbar-grip-line { display: block !important; } */
    .cus-navbar {
        padding: 10px 20px;
    }

    .responsive-navbar {
        background-color: #f6f6f6;
        padding: 0 10px;
        border-bottom: 3px solid #e2d5d5;
    }

    .logo-img {
        width: 130px;
    }

    .btn-red {
        padding: 3px 12px;
        margin: 5px 0;
    }

    .purchase-records { width: 70%; }
    .pay-for-the-book { width: 30%; }

    /* Search Book */
    .wkwk1 > div:first-child {
        display: none !important;
    }

    .wkwk1 > div:last-child {
        width: 100%;
        margin: 0 !important;
    }

    #book-search .books {
        width: 17.79% !important;
    }

    #filter-button { display: block !important; }

    .purchases-and-inboxes { margin-top: 30px;}
}

/* Media Medium */
@media screen and (min-width: 992px)  {
    /* Search */
    .search-filters-md {
        flex: 0 0 20.6666666667%;
        max-width: 20.6666666667%;
    }

    .search-books-md {
        flex: 0 0 79.3333333333%;
        max-width: 79.3333333333%;
    }
}

@media screen and (max-width: 768px)  {

    /* Chatting dengan admin  dan Navbar*/
    .chat-with-admin > div:last-child > div:first-child {
        display: none;
    }

    .chat-search-user-input { width: 97% !important; }

    .testt { height: auto; }

    .user-chat-time, .user-chat-notifications { margin-right: 22px; }

    #user-chats {
        display: block;
        height: 100vh;
        overflow-y: scroll;
    }

    .chat-content {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .click-to-the-top {
        display: none !;
    }

    .type-message {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .chat {
        bottom: 0;
        right: 20px;
    }

    .chattings { height: 80vh; }

    /* Halaman Home */
    .carousel-item img {
        height: 220px;
    }

    .purchase-records { width: 60%; }
    .pay-for-the-book { width: 40%; }

    /* Register */
    .register-user-pict { display: none; }

    /* Book Search */

    #book-search .books {
        width: 21.90% !important;
    }

    /* Shopping Cart */
    .pay-for-the-book {
        display: none;
    }

    .purchase-records, #book-create { width: 100% !important; }

    /* My Account */
    #add-account-photo {
        width: 180% !important;
        position: relative;
        left: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .account-table {
        margin-top: 25px;
    }

    /* Status */
    .book-status-image {
        border: none !important;
        border-bottom: 1px solid black !important;
        height: 190px !important;
    }
}

/* Upload payment */
.book-status-image {
    border: 1px solid #e2d5d5;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 120px;
    object-fit:contain;
    padding: 2px 0;
}

.upload-payment-value:not(:first-child) {
    margin-top: 3rem;
}

.upload-payment-select-image {
    border: 2px dashed #444444;
    padding: 30px 20px 30px 20px;
}

.upload-active {
    border-bottom: 3px solid rgb(68, 68, 68, 0.85);
    color: #444444 !important;
}

#upload-payment-file {
    display: none;
}

.upload-payment-information {
    margin-top: 15px;
}

.upload-payment-message {
    position: absolute;
}

.upload-payment-image {
    position: relative;
    width: 100%;
}

#upload-payment-plus-logo {
    font-size: 7.4rem;
    color: #444444;
    text-align: center;
}

#upload-payment-form {
    text-align: center;
}

#upload-payment-cancel {
    position: absolute;
    top: 15px;
    left: 15px;
}

#upload-payment-form {
    position: relative;
}

#upload-payment-submit-button {
    position: absolute;
    top: 100%;
    right: 0;
}

.transfer-sample {
    width: 50px;
    height: auto;
}

/* Status */
.status-rating-icon {
    font-size: 40px;
    cursor: pointer;
    color: #F7FD04;
}

.status-rating-star:not(:last-child) {
    padding-right: 0.50rem;
}

.status-profile {
    border: 1px solid #e2d5d5;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.status-invoice:not(.status-invoice:first-child) {
    margin-top: 1.5rem !important;
}

.status-circle {
    display: inline-block;
    position: absolute;
    bottom: 13px;
    width: 18px;
    height: 18px;
    background-color: #ee6f57;
    border-radius: 100%;
    line-height: 18px;
    font-size: 10px;
    color: #fffdf6;
    text-align: center;
}

/* Lacak paket */

.manifest-circle {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    padding: 0 0 12px 30px;
}

.manifest-circle::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 9px;
    width: 2px;
    height: 999px;
    background-color: #6E7C7C;
}

.manifest-circle:last-child::before {
    display: none;
}

.manifest-circle::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 0;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 2px solid #6E7C7C;
    border-radius: 100%;
    background-color: #e2d5d5;
}

.manifest-circle:last-child::after {
    background-color: #6E7C7C;
}

.status-modal-detail {
    position: relative;
    overflow: hidden;
    z-index: 1;
    flex: 1;
}

.status-modal-detail-circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f6f6f6;
    border: 3px solid #6E7C7C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 0 3px #6E7C7C;
}

.status-modal-detail-circle i {
    font-size: 15px;
    color: #29BB89;
}

.status-modal-detail::after,
.status-modal-detail::before {
    position: absolute;
    z-index: -1;
    top: 19px;
    content: '';
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #6E7C7C;
    box-shadow: 0 0 1px #6E7C7C;
}

.status-modal-detail:first-child::after,
.status-modal-detail:first-child::before {
    width: 50%;
    right: 0;
}

.status-modal-detail:last-child::after,
.status-modal-detail:last-child::before {
    width: 50%;
}

.status-modal-detail-active {
    background-color: #2C5D63;
}

.tracking-package-expeditions {
    display: flex;
}

.tracking-package-expedition {
    margin-right: 10px;
    width: 120px;
    height: 45px;
    border: 2px solid #fff600;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-links {
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 0 2px 2px -2px #444444;
}

.status-link {
    padding: 0.60rem 0.75rem;
    flex: 1 1 0px;
    background-color: #fffdf6;
    box-shadow: 0 0 1px #a09090;
    border: 3px solid transparent;
    color: #444444;
    font-weight: 700;
}

.status-link:hover {
    position: static;
    color: rgb(68, 68, 68, 1.3);
    cursor: pointer;
    text-decoration: none;
    background: #e2d5d5;
}

.status-search {
    display: flex;
    position: relative;
    border-radius: 5px;
}

.status-link-active, .status-link:hover {
    border-bottom: 3px solid #ea5455;
}

.status-search-input {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px #a09090;
    background-color: #FFFAFA;
    padding: 0.75rem 0;
    width: 92.42%;
    margin-left: auto;
    text-indent: 20px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    z-index: 1;
    outline: none;
}

.status-search-icon {
    position: absolute;
    background-color: #a09090;
    display: flex;
    width: 75px;
    height: 100%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.status-search-icon i {
    position: absolute;
    font-size: 20px;
    color: #FFFAFA;
    top: 25%;
    margin-left: 20px;
}

.status-search-icon::after {
    width: 1.25rem;
    height: 100%;
    content: '';
    background-color: #FFFAFA;
    margin-left: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.income {
    display: flex;
    margin-top: 1.5rem;
}

.income-search {
    background-color: rgb(255, 246, 0, 0.44);
    padding: 1.5rem 0;
}

.income-header {
    font-size: 14px;
}

.income-book-amount {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1;
    font-weight: 500;
}

.income-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fffdf6;
    box-shadow: 0 0 0.23rem #bbbbbb;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.income-money {
    margin: auto;
    font-size: 0.9rem;
    background-color: rgb(238, 111, 87, 0.28);
    padding: 0.33rem 1.73rem;
    border-radius: 8px;
    color: #444444;
    font-weight: 600;
    box-shadow: 0.15rem 0.15rem 0.20rem #bbbbbb;
}

.income-book {
    width: auto;
    max-width: 80px;
    margin-right: 0.75rem;
}

/* Media Small */
@media screen and (max-width: 564px)  {
    .books {
        grid-template-columns: repeat(auto-fit, 130px);
    }
}

@media screen and (max-width: 564px)  {
    * {
        font-size: 12px;
    }

    h4, .hd-18 { font-size: 14px !important; }

    .hd-14 { font-size: 12.50px !important; }

    .carousel-item img {
        height: 100px;
    }

    .ul-nav li:not(.ul-nav li:last-child) {
        margin-right: 12px;
    }

    .books { justify-content: center; }

    .search-text {
        height: 35px;
    }

    /* Book Buy  */
    .courier-choise { width: 110px; }
    .book-buy-desc > div:first-child {
        /* margin-bottom: 12px; */
        max-width: 40%;
        margin-bottom: 12px;
        /* background-color: red; */
    }

    /* Book Search */
    #book-search {
        width: 43.90% !important;
    }
    .book-show > :nth-child(2) {
        padding: 0;
    }

    /* Footer */
    .footer-content:last-child {
        width: 33.40%;
        margin-top: 10px;
    }
}
